.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

img{
  max-width: 100%;
}

.card {
  width: 30%;
  padding: 20px;
  margin: 10px;
  border: 1px solid pink;
}